/* COURSE DETAILS PAGE */
/* .cdPage {
  background-color: var(--raisin);
  color: #fff;
} */
.cd-head {
  min-height: 10vh;
  z-index: 10;
}
.cd-head .navbar {
  position: static;
}
.courseDetailsBg {
  position: absolute;
  top: -55%;
  left: -6.8%;
  z-index: -1;
}
.pattern2 {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: -1;
}
.course-details-hero {
  min-height: 90vh;
  position: relative;
  color: #fff;
}
.course-preview {
  position: absolute;
  z-index: -1;
  top: 20%;
  right: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.course-details-title {
  position: absolute;
  display: block;
  width: 65rem;
  top: 25%;
  left: 5%;
  z-index: -1;
}
.course-details-title p {
  padding-top: 2rem;
}
.enroll-btn {
  background: linear-gradient(to top, #8a2387, #e94057, #f27121);
  font-size: 2rem;
  margin-top: 1rem;
  padding: 1rem 4rem;
  cursor: pointer;
}
.course-details-info-wrap {
  width: 80%;
  margin: auto;
  /* width: 90%;
  padding: 0rem 5rem;
  border-left: 3px dashed var(--orange); */
}
.learnWhat {
  margin-top: 5rem;
}
.learnWhat p {
  padding-top: 1rem;
}

/* PRE-REQUISITES */
.pre-requisites p {
  padding: 1rem 0rem;
}
.pr-courses {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
/* .pr-courses .course-card {
  max-width: 20rem;
  margin-right: 2rem;
} */

/* COURSE CONTENT */
.course-content-container {
  padding: 0rem;
  margin: 5rem 0rem;
  color: #000;
}
.course-content-cap {
  padding: 1rem 0rem;
}
.course-content-accordion {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.course-content-accordion p {
  margin: 0rem;
}
.course-content-card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem;
  padding: 1rem 0rem;
}
.course-content-card {
  border-radius: 1rem;
}
.course-content-card-body {
  border-bottom: 0.5px solid rgb(199, 199, 199);
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
}
.course-content-card-body p {
  padding: 1rem 0rem;
}
.course-content-card-body:hover {
  background-color: var(--grey);
  border-left: 5px solid var(--primary);
}
.lesson-title-div {
  border-radius: 1rem;
}

.lesson-title {
  font-weight: bold;
  color: #000;
}
.lesson-title:hover {
  color: var(--primary);
}
.lesson-title svg {
  width: 1.5rem;
  margin-right: 1rem;
  /* color: #fff; */
}
.lesson-title svg {
  transition: transform 0.5s ease-in;
}
.lesson-title svg:hover {
  transform: rotate(180deg);
}
.lesson-title i {
  margin-right: 1rem;
}
.lesson-title .fa-minus {
  display: none;
}
.course-content-card:target .lesson-title .fa-plus {
  display: none;
}
.course-content-card:target .lesson-title .fa-minus {
  display: block;
}
.attachment a,
.time-value {
  color: rgb(100, 100, 100);
}
.attachment a {
  text-decoration: underline;
}
.attachment a:focus {
  color: var(--orange);
  text-decoration: none;
}

.attachment a:hover {
  text-decoration: none;
  color: var(--primary);
}

/* CAROUSEL */
.carous-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem 12rem;
}
.carous-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .carousel-control-prev {
  padding: 2rem;
  background-color: #000;
  margin: auto;
  border-radius: 50%;
}
.carousel-control-prev-icon {
  color: white;
  border-radius: 50%;
} */
/* SIMILAR COURSES  */
.similar-courses {
  min-height: 70vh;
  padding: 2rem 0rem;
  background-color: var(--raisin);
}

.similar-courses h3 {
  padding-bottom: 2rem;
  text-align: center;
}

/* FAQS */
.faqs {
  margin: 2rem 0rem;
}
.faqs h3 {
  padding-bottom: 2rem;
}
.faq-item {
  background-color: rgb(241, 241, 241);
  /* background-color: #1f2532; */
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.2);
}
.faq-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.faq-link {
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}
.faq-link i {
  padding: 0.5rem;
}
.faq-link .minus-icon {
  display: none;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--grey);
  transition: max-height 650ms;
}
.faq-answer::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 90%;
  background-color: var(--orange);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.faq-answer p {
  padding: 2rem;
}
.faq-item:target .faq-answer {
  max-height: 20rem;
}
.faq-item:target .faq-link .plus-icon {
  display: none;
}
.faq-item:target .faq-link .minus-icon {
  display: block;
}
.faq-item:hover .faq-answer {
  max-height: 20rem;
}
.faq-item:hover .faq-link .plus-icon {
  display: none;
}
.faq-item:hover .faq-link .minus-icon {
  display: block;
}
